body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: linear-gradient(89deg, #fd842d 0%, #ffda41 100%);*/
  background: linear-gradient(89deg, #0093E9 0%, #80D0C7 100%);

}

button {
  cursor: pointer;
}

